html
  head
    title #{subject}
  style(type="text/css").
    .container {
      margin: auto;
      width: 600px;
      margin-top: 10px;
      background-color: #B72FEF;
      line-height: 150%;
      border-radius: 16px 16px 0px 0px;
      color: #fff;
      padding: 10px 16px;
      font-weight: normal;
    }

    .subject-value {
      font-weight: bold;
    }

    .prev-button {
      font-size: 20px;
      float: left;
      margin-left: 10px;
    }

    .next-button {
      font-size: 20px;
      float: right;
      margin-right: 10px;
    }
  body
    if prevEmailId !== null
      .prev-button
        a(href="/emails/" + prevEmailId) Prev
    if nextEmailId !== null
      .next-button
        a(href="/emails/" + nextEmailId) Next
    .container
      | Subject line:
      span.subject-value #{subject} <br>
      | To:
      span.subject-value #{to}
    | !{htmlContent}
