doctype html
html
  head
    title Message table
  style(type="text/css").
    td {
      padding: 0 15px;
    }
  body
    table
      thead
        tr
          th ID
          th Time
          th To
          th Subject
          th
          th
      tbody
        each message in messages
          tr
            td= message.id
            td= message.timestamp
            td= message.to
            td= message.subject
            td
              a(href='/emails/' + message.id) View
            td
              a(href='/emails/' + message.id + '/download') Download
